---
title: "Game tetris cổ điển"
created_at: 2013-09-09 18:26:00 +0700
kind: article
page: post
categories:
- project
- done
- html5
- javascript
- web
---

%p
	%i Nhắc tới trò chơi xếp gạch chắc ai cũng biết, đây là một cài đặt của trò chơi đó

%h2 Sản phẩm
%p
	%a{:href => '/projects/html/tetris/'} Bấm vào đây để chơi

