---
title: "Game ghép tranh"
created_at: 2013-09-04 09:45:39 +0700
kind: article
page: post
categories:
- project
- done
- javascript
- html5
- web
---

%p Lấy cảm hứng từ sản phẩm của Hoàng Nguyễn, mình thử cài đặt lại bằng javascript và đã hoàn thành.
%h2 Ý tưởng cơ bản
%h2 Một số thuật toán
%h2 Sản phẩm
%p
	%a{:href => '/projects/html/gheptranh/'} Bấm vào đây để chơi
